@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


select,textarea,input {
    border: 1px solid #c2c2c2;
    outline-color: #c586a5;
    border-radius: 4px;
}
* {
    font-family: Outfit;
}

.active {
    background-color: #ffbede79;
    border: #c586a5
}